# build artifacts
/bin/
/obj/
/res/
# shortcuts and notes
*.lnk
*.txt
bgb.bat
concept/
*.sublime-workspace
*.sublime-project
*.ase
# as on the tin
src/secret.sm83
# not sure if this one will ever be used
hh/
# how fun
binjgb/
web.zip